.app {
	background-color: #eeeeee;
	color: #000000;
	font-size: 20px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.navigation {
	flex: 1;
}
