.app {
	background-color: #eeeeee;
	color: #000000;
	font-size: 20px;
	height: inherit;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1400px;
	height: 100%;
	margin: 0 auto;
}
