.form {
	width: 400px;
	background-color: white;
	padding: 50px 20px;
	border-radius: 20px;
	margin: 7vh auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.inputForm {
	width: 300px;
	height: 40px;
	border-radius: 20px;
	padding-left: 20px;
	font-size: 20px;
}

.btnForm {
	width: 300px;
	height: 40px;
	border-radius: 20px;
	font-size: 20px;
	background-color: #20ab5f;
	color: white;
}

.btnForm:hover {
	background-color: #188b4b;
}