// search.scss
.search-field {
	background-color: white;
	padding: 30px;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.search-field-title {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 20px;
}

.search-form {
	width: 100%;
}

.search-input-wrapper {
	display: flex;
	gap: 1rem;
	align-items: stretch;
	margin: 0 auto;
}

.search-input {
	flex: 1;
	padding: 15px 17px;
	border-radius: 8px;
	font-size: 20px;
	transition: all 0.3s ease;
	background-color: #eeeeee;
	border: 1px solid #eeeeee;

	&:hover {
		background-color: #e4e4e4;
	}

	&:focus {
		background-color: #ffffff;
		border: 1px solid black;
	}

}

.search-buttons {
	display: flex;
	gap: 0.5rem;
}

.search-button {
	padding: 0.75rem 1.5rem;
	min-width: 120px;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	transition: all 0.3s ease;
	white-space: nowrap;

	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}

	&--primary {
		background-color: rgb(2, 191, 2);
		color: white;

		&:hover:not(:disabled) {
			background-color: rgb(1, 158, 1);
		}
	}

	&--secondary {
		background-color: #bababa;
		color: white;

		&:hover:not(:disabled) {
			background-color: #9b9a9a;
		}
	}
}

// Адаптивность для мобильных устройств
@media (max-width: 768px) {
	.search-input-wrapper {
		flex-direction: column;
		gap: 0.75rem;
	}

	.search-buttons {
		width: 100%;
	}

	.search-button {
		flex: 1;
	}
}